body{
  width: 100%;
}
/*
*{
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
*/
*{
  margin: 0px;
  padding: 0px;
}

div.container{
  max-width: 500px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.contentBox{
  width: 100%;
  height: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.section{
  padding-left: 100px;
  padding-right: 100px;
  height: 100vh;
  min-height: 550px;
  width: auto;
}

#home{
  background-image: url(Bg-wrap.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#work{
  background-image: url(photo-1484588168347-9d835bb09939.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#work2{
  background-image: url(turret-arch-1364314_960_720.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#work3{
  background-image: url(maxresdefault.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#contact,#about{
  background-color: #ffffff;
  color: #000000;
}

#footer{
  height: 50vh;
  background-color: #000000;
}

header{
  font-family: Gilroy, Monserrat, Roboto, Sans-Serif;
  font-weight: bold;
}

header.intro{
  font-size: 70px; /* 100? */
  color: white
}

header.p {
  font-size: 50px; /* 30? */
}

img{
  margin-bottom: 50px;
}

img.navbar{
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

div.navbar{
  position: fixed;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  border-color: black;
  border-width: 1px;
  width: 70px;
  height: 70px;
}
